<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .topnav {
            background-color: #333;
            overflow: hidden;
          }
          
          /* Style the links inside the navigation bar */
          .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          /* Change the color of links on hover */
          .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          /* Add a color to the active/current link */
          .topnav a.active {
            background-color: #4CAF50;
            color: white;
          }
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        {% if isLoggedIn %}
        <a href="signout">Logout</a>
        <a>Hello, {{user.first_name}}</a>
        <a href="edituserdetails">Edit User Details</a>
        {% else %}
        <a href="signup">Signup</a>
        <a href="signin">Signin</a>
        {% endif %}
    </div>
    <p></p>
    <div>
        <form action="changepass" method="POST">
            {% csrf_token %}
            <input type="password" name="password" placeholder="New Password"><br><br>
            <input type="password" name="confirmpass" placeholder="Confirm New Password"><br><br>
            <input type="submit">
        </form>
    </div>
    {% for message in messages %}
        <h3>{{message}}</h3>
    {% endfor %}
</body>
</html>