<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Member - {{family.relation}}</title>
    <style>
        .topnav {
            background-color: #333;
            overflow: hidden;
          }
          
          /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #4CAF50;
            color: white;
          }
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        {% if isLoggedIn %}
        <a href="signout">Logout</a>
        <a>Hello, {{user.first_name}}</a>
        <a href="edituserdetails">Edit User Details</a>
        {% else %}
        <a href="signup">Signup</a>
        <a href="signin">Signin</a>
        {% endif %}
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" onkeypress="return /[a-z0-9 ]/i.test(event.key)" name="relation" value="{{family.relation}}" placeholder="Relationship"><br>
        <input type="text" onkeypress="return /[a-z0-9 ]/i.test(event.key)" name="firstname" value="{{family.firstname}}" placeholder="First Name"><br>
        <input type="text" onkeypress="return /[a-z0-9 ]/i.test(event.key)" name="lastname" value="{{family.lastname}}" placeholder="Last Name"><br>
        <input type="date" name="birthday" placeholder="Birthday" value="{{family.birthday}}"><br>
        <input type="text" onkeypress="return /[a-z0-9 ]/i.test(event.key)" name="vitalstatus" value="{{family.vitalstatus}}" placeholder="Vital status"><br>
        <input type="submit">
    </form>
</body>
</html>