<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Pedigree</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
          }
        .topnav {
            background-color: #333;
            overflow: hidden;
          }
          
          /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #4CAF50;
            color: white;
          }
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="">Home</a>
        {% if isLoggedIn %}
        <a href="signout">Logout</a>
        <a>Hello, {{user.first_name}}</a>
        <a href="edituserdetails">Edit User Details</a>
        {% else %}
        <a href="signup">Signup</a>
        <a href="signin">Signin</a>
        {% endif %}
    </div>
    <table>
        <tr>
            <td>Relationship</td>
            <td>First name</td>
            <td>Last name</td>
            <td>Birthday</td>
            <td>Vital Status</td>
        </tr>
        {% for fam in family %}
        <tr>
            <td>
                {{fam.relation}}
            </td>
            <td>
                {{fam.firstname}}
            </td>
            <td>
                {{fam.lastname}}
            </td>
            <td>
                {{fam.birthday}}
            </td>
            <td>
                {{fam.vitalstatus}}
            </td>
            <td>
                {% if forloop.counter0 == 0 %}
                    <a href="edit{{forloop.counter0}}"><button type="button" name="edit">Edit</button></a>&nbsp;&nbsp;&nbsp;
                {% else %}
                    <a href="edit{{forloop.counter0}}"><button type="button" name="edit">Edit</button></a>&nbsp;&nbsp;&nbsp;
                    <a href="delete{{forloop.counter0}}"><button type="button" name="delete">Delete</button></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table><br><br>
    
    Add a family member here<br>
    <form action='add' method="POST">
        {% csrf_token %}
        <input type="text" onkeypress="return /[a-z0-9 ]/i.test(event.key)" name="relation" placeholder="Relationship"><br>
        <input type="text" onkeypress="return /[a-z0-9 ]/i.test(event.key)" name="firstname" placeholder="First Name"><br>
        <input type="text" onkeypress="return /[a-z0-9 ]/i.test(event.key)" name="lastname" placeholder="Last Name"><br>
        <input type="date" name="birthday" placeholder="Birthday"><br>
        <input type="text" onkeypress="return /[a-z0-9 ]/i.test(event.key)" name="vitalstatus" placeholder="Vital status"><br>
        <input type="submit">
    </form>
</body>
</html>
