<!-- Sign In Template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <style>
        .topnav {
            background-color: #333;
            overflow: hidden;
          }
          
          /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #4CAF50;
            color: white;
          }
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        {% if isLoggedIn %}
        <a href="signout">Logout</a>
        <a>Hello, {{user.first_name}}</a>
        <a href="edituserdetails">Edit User Details</a>
        {% else %}
        <a href="signup">Signup</a>
        <a href="">Signin</a>
        {% endif %}
    </div>
    <fieldset>
        <form action="signin" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username"><br><br>
            <input type="password" name="password" placeholder="Password"><br><br>
            <input type="submit"><br><br>
        </form>
    </fieldset>

    <!-- Django Template Language Usage displaying messages of invalidity -->
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}

</body>
</html>