<!-- Sign Up Template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        .topnav {
            background-color: #333;
            overflow: hidden;
          }
          
          /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
          
          /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
          }
          
          /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #4CAF50;
            color: white;
          }
    </style>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        {% if isLoggedIn %}
        <a href="signout">Logout</a>
        <a>Hello, {{user.first_name}}</a>
        <a href="edituserdetails">Edit User Details</a>
        {% else %}
        <a href="">Signup</a>
        <a href="signin">Signin</a>
        {% endif %}
    </div>
    <fieldset>
        <form action="signup" method="POST">
            {% csrf_token %}
            <input type="text" name="firstname" onkeypress="return /[a-z0-9 ]/i.test(event.key)" placeholder="First Name"><br><br>
            <input type="text" name="lastname" onkeypress="return /[a-z0-9 ]/i.test(event.key)" placeholder="Last Name"><br><br>
            <input type="text" name="username" onkeypress="return /[a-z0-9]/i.test(event.key)" placeholder="Username"><br><br>
            <label for="birthday">Birthday:</label>
            <input type="date" id="birthday" name="birthday"><br><br>
            <input type="email" name="email" placeholder="E-mail"><br><br>
            <input type="password" name="password1" placeholder="Password"><br><br>
            <input type="password" name="password2" placeholder="Confirm Password"><br><br>
            <input type="submit"><br><br>
        </form>
    </fieldset><br>
    {% for message in messages %}
        {{message}}
    {% endfor %}
</body>
</html>